MESHTASTIC_IP=192.168.123.123
ADMIN_NODES='!aae8900d'

STORAGE_API_ROOT='http://localhost:8000'
STORAGE_API_TOKEN=...

# Features
ENABLE_TCP_PROXY=true

# Commands
ENABLE_COMMAND_PING=true
ENABLE_COMMAND_TR=true
ENABLE_COMMAND_HELLO=true
ENABLE_COMMAND_HELP=true
ENABLE_COMMAND_NODES=true
ENABLE_COMMAND_WHOAMI=true
ENABLE_COMMAND_PREFS=true
ENABLE_COMMAND_ADMIN=true
ENABLE_COMMAND_STATUS=true
